/*MENU*/

.logo-block {

    position:absolute;
    margin: 0 auto 0 auto;
    margin-top:10%;
    margin-left:21%;
    text-align:center;
    color: white;
 }

/* Navigation Menu - Background */
.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    /* non-critical appearance styles */
    list-style: none;
    background: #111;
}

/* Navigation Menu - List items */
.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    color: #c74438;
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-image: url(background.jpg); /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    /* non-critical apperance styles */
    padding: 4em;
/*    background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
*/    background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px; top: 15px;
    z-index: 2;

    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
    max-width: 600px;
    margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: white;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }


/*LABYRINTH*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
}

canvas {
    display: block;
    margin: 40px auto 20px;
    border: 1px solid #333;

    -webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #777;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.info {
    margin: 14px auto;
    text-align: justify;
    font-size: 18px;
    color: #999;
}

label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #555;
    width: 400px;
    margin: 0 auto;
    display: block;
}

/* registration and autorisation form*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,latin);


*, *::after, *::before {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  argin: 0;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #444;
  background-color: #fafafa;
}

a {
  color: #444;
  text-decoration: none;
}



.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 600px;
  min-width: 400px;
  margin: 10% auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cd-tabs:after {
  content: '';
  display: table;
  clear: both;
}

.cd-tabs nav {
  overflow: hidden;
  position: relative;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}

  .cd-tabs-navigation {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-bottom: none;
    box-shadow: 0 2px 1px #f1f1f1;
    }

  .cd-tabs-navigation li {
    display: block;
    float: left;
    height: 60px;
    width: 49%;
    max-width: 298px;
    line-height: 60px;
    text-align: center;
   }
  .cd-tabs-navigation a {
    position: relative;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 18px;
    padding: 0 0 0 20px;
  }
  .cd-tabs-navigation a::before {
  position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 30%;
  display: inline-block;
  height: 26px;
  width: 26px;
  background: url('http://image005.flaticon.com/1/svg/32/32317.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cd-tabs-navigation a[data-content='signup']::before {
  background-image: url('http://image005.flaticon.com/1/svg/1/1819.svg');
}

  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }

  .cd-tabs-navigation a[data-content='signup']::before {
    left: 20%;
  }

@media only screen and (max-width: 768px) {
  .cd-tabs-navigation a::before {
    left: 20%;
  }

  .cd-tabs-navigation a[data-content='signup']::before {
    left: 8%;
  }
}

.cd-tabs-navigation a.selected {
  background-color: #fff !important;
  box-shadow: inset 0 2px black;
  color: #29314e;
}


.cd-tabs-content {
  background: #ffffff;
  margin: 0;
  pading: 0;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  border: 1px solid #e9e9e9;
  border-top: 1px solid rgba(0,0,0,.02);
  box-shadow: 0 2px 1px #f1f1f1;
  display: block;

  -webkit-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}

form {
  display: block;
  position: relative;
}

.form-fild {
  position: relative;
  display: block;
  width: 90%;
  height: 60px;
  margin: 10px auto;
}

.form-fild input {
  position: relative;
  z-index: 99;
  border: none;
  border-bottom: 1px solid #e0e0e0; 
  display: block;
  width: 100%;
  height: 40px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
  background: transparent;
} 

input:-webkit-autofil,
textarea:-webkit-autofill, 
select:-webkit-autofill  {background-color: transparent;}

.form-fild label {
  position: absolute;
  top: 7px;
  text-transform: lowercase;
  transition: all 0.3s;
}

label.focused {
  font-size: 12px;
  top: -10px;
}

form button {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  background: none;
  border: 1px solid #B3B3B3;
  text-transform: uppercase;
  color: #444;
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  border: 1px solid #444;
}

.error {
    display: none;
    position: absolute;
    width: 184px;
    line-height: 18px;
    top: -198px;
    left: 353px;
    padding: 10px;
    color: #DC3B3B;
    background: rgba(255, 0, 0, 0.17);
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
